.text {
    background-color: #242426;
    padding-block-end: 10px;
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        max-width: 1500px;
        margin: 0 auto;
        padding: 40px 20px;
        h2 {
            margin-block-end: 5px;
            color: #837144;
            font-family: $font2;
            text-transform: uppercase;
            font-size: 2rem;
            text-align: center;
        }
        p {
            padding: 10px 0;
            color: $light;
            font-size: 1.6rem;
            line-height: 2.5rem;
        }
    }
    &__element {
        margin-block-end: 30px;
        padding: 20px;
        max-width: 400px;
        display: flex;
        background-color: #333333;
        border-radius: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;      
    }
}