.text {
    background-color: $dark;
    border-block-start: solid rgba($main, 0.7) 3.5px;
    padding-block-end: 20px;
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        max-width: 1500px;
        margin: 0 auto;
        padding: 20px;
        h2 {
            margin-block-end: 5px;
            color: $main;
            font-family: $font2;
            text-transform: uppercase;
            font-size: 2rem;
        }
        p {
            padding: 10px 0;
            color: $light;
            font-size: 1.6rem;
            line-height: 2.5rem;
        }
    }
    &__element {
        margin: 0 15px 15px 5px;
        padding: 10px 0;
        max-width: 310px;
        display: flex;
        flex-direction: column;
        align-items: center;        
    }
    .underline {
        width: 100%;
        height: 3.5px;
        background-color: $main;
    }
}