footer {
    width: 100%;
    height: fit-content;
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right bottom, #f6cc2c, #eec42c, #e5bc2c, #ddb42b, #d4ac2b);
    color: $dark;
}
.contact-email {   
    margin: 10px auto;
    font-size: 1.8rem;
    color: $dark;   
} 
.social {
    width: 300px;
    ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: $dark;
    }
    img {
        width: 25px;
        height: 25px;
    }
    img:hover {
        width: 30px;
        height: 30px;
    }
    
}
.tawfiki {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    letter-spacing: 2px;
    font-family: $font2;
    font-size: 1rem;
    text-align: center;
    h2 {
        margin: 10px 0;
    }

}
.msb {
    width: 90%;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    letter-spacing: 2px;
    font-family: $font2;
    font-size: 0.9rem;
    text-align: center;
    h2 {
        margin: 5px 0;
    }
}