footer {
    width: 100%;
    height: fit-content;
    padding: 40px 5px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right bottom, #242426, #1d1d1e, #161616, #0d0d0d, #000000);
    color: $main;
    .footer-logo {
        width: 100%;
        max-width: 1300px;
        padding: 10px 5px;
        display: flex;
        align-items: center;
        img {
            width: 50px;
            height: auto;
        }
        h2 {
            font-family: $font2;
            font-size: 2rem;
        }
    }
}
.contact-email {   
    margin: 10px auto;
    font-size: 1.8rem;
    color: $dark;   
} 
.social {
    width: 300px;
    margin: 10px auto;
    ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: $dark;
    }
    img {
        width: 25px;
        height: 25px;
    }
    img:hover {
        width: 30px;
        height: 30px;
    }
    
}
.tawfiki {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    letter-spacing: 2px;
    font-family: $font2;
    font-size: 1rem;
    text-align: center;
    h2 {
        margin: 10px 0;
        font-size: 1.2rem;
    }

}
.msb {
    width: 100%;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    //align-items: center;
    padding: 0 10px;
    letter-spacing: 2px;
    font-size: 0.8rem;
    //text-align: center;
    h2 {
        margin: 5px 0;
    }
}

.footer-pages {
    width: 100%;
    max-width: 900px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    &__section {
        width: 300px;    
        padding: 0 10px;
        margin-block-end: 40px;
        h3 {
            font-size: 1.6rem;
            font-weight: bold;
            margin-block-end: 10px;
        }
    }
    a {
        color: $main;
        text-decoration: none;
        font-size: 1.3rem;
        
    }
    a:hover {
        font-size: 1.4rem;
        font-weight: bold;
        margin-inline-start: 5px;
    }
    li {
        list-style: none;
        padding: 5px 0;
    }
    
}