/////////Main section
.main-services {
    width: 90%;
    margin: 100px auto;
    &__element {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 35px 0;
        max-width: 700px;
    }
    &__text {
        width: 100%;
        padding: 20px;
        background-color: $light;
        border-radius: 15px;
        box-shadow: 3px 3px 7px rgba($color: #000000, $alpha: 0.2);
        h2 {
            margin: 20px 0;
            font-family: $font2;
            font-size: 3rem;
        }
        p {
            line-height: 3rem;
            color: $var-darker;
            font-size: 1.6rem;
        }
    }
    &__text:hover {
        box-shadow: 5px 10px 10px rgba($color: #000000, $alpha: 0.2);
    }
    &__image {
        width: 90%;
        max-width: 200px;
        margin-block-start: 20px;
        display: flex;
        justify-content: center;
    }
    img {
        width: 100%;
        height: auto;
    }
    .left {
      p {
        margin-inline-start: auto;
    }
    h2 {
        margin-inline-end: auto;
    }  
    }
    .right{
        p {
            margin-inline-start: auto;
        } 
        h2 {
            margin-inline-start: 0; 
        }
    }
}

/////////////////top button

.myBtn {
    display: none; 
    padding: 5px; 
    position: fixed; 
    bottom: 20px; 
    right: 2px;
    border: none; 
    background-color: #0079E0; 
    color: white; 
    cursor: pointer; 
    border-radius: 10px; 
    font-size: 2rem;
    font-family: $font2;
    font-weight: bold;
    img {
        width: 20px;
    } 
  }
  
  .myBtn:hover {
    background-color: #555;
  }