.text {
    background-image: linear-gradient(to right bottom, #242426, #1d1d1e, #161616, #0d0d0d, #000000);
    padding-block-end: 10px;
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        max-width: 1500px;
        margin: 0 auto;
        padding: 80px 20px;
        h2 {
            margin-block-end: 5px;
            color: $golden;
            font-family: $font3;
            font-size: 2rem;
            text-align: center;
        }
        p {
            padding: 10px 0;
            color: $light;
            font-size: 1.6rem;
            line-height: 2.5rem;
        }
    }
    &__element {
        margin-block-end: 50px;
        padding: 20px;
        max-width: 400px;
        display: flex;
        background-color: $var-dark;
        border-radius: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
            
    }
    &__element:hover {
       box-shadow: 6px 6px 20px rgba($golden, $alpha: 0.2);   
    }
}