@media (min-width: 1030px) {
  .header {
    padding: 0 60px;
  }
  .header .page-title h1 {
    margin: 0;
  }

  .title {
    max-height: 900px;
    -webkit-padding-start: 30px;
            padding-inline-start: 30px;
  }
  .title h2 {
    font-size: 5.8rem;
    line-height: 7rem;
  }
  .title h3 {
    font-size: 3rem;
    word-spacing: 0.5rem;
  }
  .title h4 {
    max-width: 450px;
    font-size: 2rem;
  }

  .main-services__text {
    max-width: 450px;
    padding: 40px 20px;
    margin: 0 20px;
  }
  .main-services__text h2 {
    font-size: 3rem;
  }
  .main-services__text p {
    font-size: 1.8rem;
    line-height: 3.2rem;
  }
  .main-services__image {
    margin: 0 auto;
  }
  .main-services__image img {
    max-width: 550px;
  }

  .news-logo {
    -webkit-padding-after: 80px;
            padding-block-end: 80px;
  }
  .news-logo h3 {
    font-size: 4rem;
  }
  .news-logo img {
    margin: 50px;
  }

  .aboutus .second {
    -webkit-margin-before: 50px;
            margin-block-start: 50px;
    height: 380px;
  }

  .popup-window__content {
    margin: 20% auto 0 auto;
  }

  .text__element {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 280px;
    -webkit-margin-end: 20px;
            margin-inline-end: 20px;
    padding: 30px;
  }
  .text__wrapper {
    max-width: 1200px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 150px 0px;
  }

  .footer-pages {
    max-width: 800px;
  }
}