@media (min-width: 1500px) {
  .title {
    max-height: 800px;
  }
  .title h2 {
    font-size: 8rem;
    line-height: 9rem;
  }
  .title h3 {
    font-size: 4rem;
  }

  .text__wrapper {
    max-width: 2000px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .text__element {
    min-height: 380px;
    max-width: 380px;
  }

  .main-services__text {
    width: 500px;
    -webkit-margin-end: 100px;
            margin-inline-end: 100px;
  }
  .main-services__text h2 {
    -webkit-margin-after: 30px;
            margin-block-end: 30px;
  }
  .main-services__image img {
    max-width: 650px;
    -webkit-margin-start: 100px;
            margin-inline-start: 100px;
  }
  .main-services h4 {
    font-size: 4.2rem;
  }
}