@media (min-width: 1500px) {
    //// title
.title {
    max-height: 800px;
    h2 {
        font-size: 8rem;
        line-height: 9rem;
    }
    h3 {
        font-size: 4rem;
    }
}
  //////////module 3
  .text {
    &__wrapper {
    max-width: 2000px;
    flex-direction: row;
    flex-wrap: nowrap;
        }
    &__element {
        min-height: 380px;
        max-width: 380px;
    }
    } 

  ///////////////////  module 2
  .main-services {
    &__text {
        width: 500px;
        margin-inline-end: 100px;
        h2 {
            margin-block-end: 30px;
        }
    }
    &__image img {
        max-width: 650px;
        margin-inline-start: 100px;
      }
      h4 { 
          font-size: 4.2rem;
      }
}
}