@media (min-width: 1260px) {
  .header {
    -webkit-padding-start: 45px;
            padding-inline-start: 45px;
  }

  .text__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .title {
    -webkit-padding-start: 50px;
            padding-inline-start: 50px;
    max-height: 700px;
  }
  .title h2 {
    font-size: 6rem;
  }
  .title h3 {
    -webkit-margin-before: 100px;
            margin-block-start: 100px;
    font-size: 3.2rem;
  }
  .title h4 {
    max-width: 530px;
    font-size: 2rem;
    line-height: 3rem;
    -webkit-margin-before: 70px;
            margin-block-start: 70px;
    word-spacing: 0.5rem;
  }

  .main-services__text {
    width: 500px;
    -webkit-margin-end: 50px;
            margin-inline-end: 50px;
  }
  .main-services__text h2 {
    -webkit-margin-after: 30px;
            margin-block-end: 30px;
  }
  .main-services__image img {
    max-width: 650px;
    -webkit-margin-start: 50px;
            margin-inline-start: 50px;
  }
  .main-services h4 {
    font-size: 4.2rem;
  }
}