@media (min-width: 1030px) {
  .header {
    padding: 0 60px;
  }
  .header .page-title h1 {
    margin: 0;
  }

  .title h2 {
    font-size: 6rem;
    line-height: 7rem;
  }
  .title h3 {
    font-size: 3rem;
  }
  .title h4 {
    font-size: 2.2rem;
  }

  .main-services {
    width: 100%;
    max-width: 1500px;
    display: block;
    margin: 0 auto 120px auto;
  }
  .main-services__element {
    max-width: 1300px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  .main-services__text {
    max-width: 600px;
    min-height: 350px;
    margin: auto;
  }
  .main-services__text h2 {
    font-size: 4rem;
  }
  .main-services__text p {
    font-size: 2rem;
    line-height: 3.5rem;
  }
  .main-services__image {
    margin: 0 auto;
  }
  .main-services__image img {
    max-width: 600px;
  }
  .main-services .left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .main-services .left img {
    -webkit-margin-before: 0px;
            margin-block-start: 0px;
    -webkit-margin-start: 0;
            margin-inline-start: 0;
    width: 450px;
  }

  .news-logo {
    -webkit-padding-after: 80px;
            padding-block-end: 80px;
  }
  .news-logo h3 {
    font-size: 4rem;
    margin: 50px auto;
  }

  .aboutus .second {
    -webkit-margin-before: 50px;
            margin-block-start: 50px;
    height: 380px;
  }

  .popup-window__content {
    margin: 20% auto 0 auto;
  }

  .text__element {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 610px;
    -webkit-margin-end: 20px;
            margin-inline-end: 20px;
    padding: 30px;
  }
  .text__wrapper {
    max-width: 1200px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 150px 0px;
  }
  .text__wrapper h2 {
    -webkit-margin-after: 10px;
            margin-block-end: 10px;
    font-size: 2.8rem;
  }
  .text__wrapper p {
    font-size: 1.8rem;
    line-height: 3rem;
  }

  .footer-pages {
    max-width: 800px;
  }
}