@media (min-width:1030px) {
      .header { 
        padding: 0 60px;
        .page-title {
          h1 {
          margin: 0;
          }
      }
    }
    .title {
      max-height: 900px;
      padding-inline-start: 30px;
      h2 {
          font-size: 5.8rem;
          line-height: 7rem;
      }
      h3 {
          font-size: 3rem;
          word-spacing: 0.5rem;
      }
      h4 {
        max-width: 450px;
        font-size: 2rem;
      }
  }
/////////////// main services
.main-services {
  &__text {
      max-width: 450px;
      padding: 40px 20px;
      margin: 0 20px;
      h2 {
        font-size: 3rem;
    }
    p {
        font-size: 1.8rem;
        line-height: 3.2rem;
    }
  }
  &__image {
    margin: 0 auto;
  }
  &__image img {
    max-width: 550px;
  }
}

////// news
.news-logo {
  padding-block-end: 80px;
  h3 {
  font-size: 4rem;
}
img {
  margin: 50px;
}
.marketwatch {
  width: fit-content;
    img {
        margin: 50px;
    }   
}
.abc {
    width: fit-content;
    img {
        margin: 50px;
    }  
}
}
/////////about us
.aboutus {
  .second {
      margin-block-start: 50px;
      height: 380px;
  }
  }
//////////////////POP-UP MESSAGE
.popup-window__content {
  margin: 20% auto 0 auto;
}
////// module 3 text
.text {
  &__element {
    height: fit-content;
    min-height: 610px;
    margin-inline-end: 20px;
    padding: 30px;
  }
  &__wrapper {
  max-width: 1200px;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 150px 0px;

  h2 {
    margin-block-end: 10px;
    font-size: 2.8rem;
}
p {
    font-size: 1.8rem;
    line-height: 3rem;
}
      }
  }
  ////////////////
  .footer-pages {
    max-width: 800px;
}
  
}