@media (min-width:550px) {
    .header { 
        padding: 0 15px;
        .page-title {
            margin-inline-start: 10px;
            h1 {
            font-size: 3.2rem;
            }
            h2 {
                font-size: 2.4rem;
            }
        }
       .main-logo img {
            margin: 0 10px;
        }
    }
    .title {
        max-height: 600px;
        background-image: url(https://res.cloudinary.com/arawato666/image/upload/v1651115705/BANNER-01_4_1_x4tinv.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .banner_new {
        background-image: url();
    }
        h2 {
            max-width: 350px;
            margin-block-start: 50px;
            font-size: 3.6rem;
            line-height: 4.7rem;
        }
        h3 {
            margin-block-start: 70px;
            font-size: 2.2rem;
        }
        h4 {
            margin-block-start: 50px;
            font-size: 1.6rem;
            line-height: 2.6rem;

        }
    }
//////////////// main services
.main-services {
    &__image img {

        max-width: 450px;
    }
    h2 {
        font-size: 3.4rem;
    }
}
.text {
    h2 {
        font-size: 2.5rem;
    }
}

//////////////////////////ABOUT US
.aboutus {
    h2 {
        font-size: 4.2rem;
    }
    p {
       font-size: 2rem;
       line-height: 2.8rem; 
    }
   
}
////////footer
.msb {
    align-items: center;
    text-align: center;
}

////////////// team 
.team {
    &__avatar--item {
        margin-inline-end: 10px;
        min-height: 510px;
    }
}
.soledad-advisors {
    &__element {
        margin-inline-end: 10px;
        min-height: 490px;  
    }
}

}
