@media (min-width: 550px) {
  .header {
    -webkit-padding-end: 15px;
            padding-inline-end: 15px;
  }
  .header .page-title {
    -webkit-margin-start: 10px;
            margin-inline-start: 10px;
  }
  .header .page-title h1 {
    font-size: 3.2rem;
  }
  .header .main-logo img {
    margin: 0 10px;
  }

  .title {
    max-height: 600px;
    background-image: url(https://res.cloudinary.com/arawato666/image/upload/v1651115705/BANNER-01_4_1_x4tinv.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .title .banner_new {
    background-image: url();
  }
  .title h2 {
    max-width: 350px;
    -webkit-margin-before: 50px;
            margin-block-start: 50px;
    font-size: 3.8rem;
    line-height: 4.5rem;
  }
  .title h3 {
    -webkit-margin-before: 70px;
            margin-block-start: 70px;
    font-size: 2rem;
    word-spacing: 0.05px;
    letter-spacing: 0.02px;
    text-shadow: 2px 2px 10px #FFF;
  }
  .title h4 {
    -webkit-margin-before: 50px;
            margin-block-start: 50px;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .title__buttons {
    -webkit-margin-end: auto;
            margin-inline-end: auto;
  }
  .title__buttons a {
    font-size: 1.5rem;
  }
  .title__buttons a:hover {
    font-size: 1.6rem;
  }

  .main-services__image img {
    max-width: 450px;
    margin: 0;
  }
  .main-services h2 {
    font-size: 2.8rem;
  }
  .main-services__text {
    max-width: 420px;
    -webkit-margin-after: 10px;
            margin-block-end: 10px;
  }

  .aboutus h2 {
    font-size: 4.2rem;
  }
  .aboutus p {
    font-size: 2rem;
    line-height: 2.8rem;
  }

  .msb {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .team__avatar--item {
    -webkit-margin-end: 10px;
            margin-inline-end: 10px;
    min-height: 510px;
  }

  .soledad-advisors__element {
    -webkit-margin-end: 10px;
            margin-inline-end: 10px;
    min-height: 490px;
  }

  .news-logo .marketwatch {
    -webkit-margin-end: 20px;
            margin-inline-end: 20px;
  }
}