@media (min-width:550px) {
    .header { 
        //padding-inline-end:15px;
        .page-title {
            margin-inline-start: 10px;
            h1 {
            font-size: 3.2rem;
            }
        }
       .main-logo img {
            margin: 0 10px;
        }
    }
    .title {
        max-height: 600px;
        background-image: url(https://res.cloudinary.com/arawato666/image/upload/v1651115705/BANNER-01_4_1_x4tinv.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .banner_new {
        background-image: url();
    }
        h2 {
            max-width: 350px;
            margin-block-start: 50px;
            font-size: 3.8rem;
            line-height: 4.5rem;
        }
        h3 {
            margin-block-start: 70px;
            font-size: 2rem;
            word-spacing: 0.05px;
            letter-spacing: 0.02px;
            text-shadow:  2px 2px 10px #FFF;
        }
        h4 {
            margin-block-start: 50px;
            font-size: 1.6rem;
            line-height: 2.4rem;

        }
        ///buttons
        &__buttons {
            margin-inline-end: auto;
            a {
                font-size: 1.5rem;
            }
            a:hover {
                font-size: 1.6rem;
            }
        }
    }
//////////////// main services
.main-services {
    &__image img {
        max-width: 450px;
        margin: 0;
    }
    h2 {
        font-size: 2.8rem;
    }
    &__text {
        max-width: 420px;
        margin-block-end: 10px;
    }
}

//////////////////////////ABOUT US
.aboutus {
    h2 {
        font-size: 4rem;
    }
    p {
       font-size: 1.8rem;
       line-height: 2.6rem; 
    }
   
}
////////footer
.msb {
    align-items: center;
    text-align: center;
}

////////////// team 
.team {
    &__avatar--item {
        margin-inline-end: 10px;
        min-height: 535px;
    }
}
.soledad-advisors {
    &__element {
        margin-inline-end: 10px;
        min-height: 615px;
        justify-content: flex-start;  
        img {
            max-width: 230px;
        }
    }
}
////footer 
.tawfiki {
    h2 {
        max-width: 500px;
    }
}
//////////////////////CONTACT US SECTION
.contactus {
    padding: 40px 30px;
        h2 {
            font-size: 4rem;
        }
        p {
            margin-block-start: 20px;
           font-size: 2rem;
           line-height: 3rem; 
        }
}
}
