@media (min-width: 768px) {
    .header { 
        padding: 0 40px;
        .page-title {
            margin-inline-start: 15px;
            h1 {
            font-size: 3.4rem;
            }
            h2 {
                font-size: 2.6rem;
            }
        }
       .main-logo img {
           width: 70px;
           height: 70px;
            margin: 0 15px;
        }
        .image-button {
            width: 50px;
        }
    }
    
    .title {
        background-image: url(https://res.cloudinary.com/arawato666/image/upload/v1649630051/BANNER-02_xasym7.png);
        min-height: 600px;
        padding-block-start: 50px;
        padding-inline-start: 2%;
        h2 {
            font-size: 5rem;
            line-height: 6.5rem;
            max-width: 700px;
        }
        h3 {
            margin-block-start: 50px;
        }
        h4 {
            margin-block-start: 200px;
            font-size: 2rem;
        }
    }
////////////////// main services
.main-services {
    max-width: 890px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    &__element {
        max-width: 280px;
        margin-inline-end: 20px;
        margin-block-start: 20px;
        
    }
    &__text {
        height: fit-content;
        min-height: 420px;
        margin-block-end: 40px;
    }
    &__image {
        max-width: 700px;
        align-items: center;
    }
    .left  img {
        margin-block-start: 120px;
        margin-inline-start: 60px;
    }
}
///////////// middle text squares
.text {
    h2 {
        font-size: 2.8rem;
        margin-block-end: 20px;
    }
}
////// news
.news-logo {
    h3 {
    font-size: 3.6rem;
    margin: 50px auto 100px auto;
}
}


///////////////////////////////// 
    .tawfiki {
        font-size: 1.2rem;
    }
//////////////////POP-UP MESSAGE
.popup-window__content {
    margin: 30% auto 0 auto;
}
    /////////////footer-new section
    .footer-pages {
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-inline-start: 90px;
        &__section {
            width: 200px;
            margin-block-end: 5px;
            margin-block-start: 20px;
        h3 {
            font-size: 1.8rem;
        }
    }
    a {
        font-size: 1.5rem;
    }
    a:hover {
    font-size: 1.6rem;
}
}
footer {
    .footer-logo {
    h2 {
        font-size: 2.6rem;
    }
    img {
        width: 60px;
    }
}
}
/// team 
.team {
    &__avatar--item {
        margin-block-start: 90px;
        min-height: 580px;
        h4 {
            font-size: 2rem;
        }
        p {
            font-size: 1.6rem;
            line-height: 2.2rem;
        }
    }
}
.soledad-advisors {
    padding-block-end: 300px;
    &__element {
        max-width: 380px;
        min-height: 640px;
        margin-block-start: 90px;
        h4 {
            font-size: 2rem;
        }
        p {
            font-size: 1.6rem;
            line-height: 2.2rem;
        }
    }
}
/////////about us
.aboutus {
    width: 100%;
    margin: 0 auto 300px auto;
    padding-block-start: 100px;
        h2 {
        font-size: 4rem;
        margin-block-end: 20px;
    }
    h3 {
        font-size: 3rem;
        margin-block-end: 20px;
    }
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        max-height: 430px;
        margin-block-end: 250px;
    }
    &__wrapper--item {
        width: 50%;
        }
    }
    .second {
        margin-block-start: 50px;
        height: 470px;
        position: absolute;
        right: 0;
    }
}