@media (min-width: 768px) {
  .header {
    padding: 0 40px;
  }
  .header .page-title {
    -webkit-margin-start: 15px;
            margin-inline-start: 15px;
  }
  .header .page-title h1 {
    font-size: 3.4rem;
  }
  .header .main-logo img {
    width: 70px;
    height: 70px;
    margin: 0 15px;
  }
  .header .image-button {
    width: 50px;
  }

  .title {
    -webkit-padding-before: 30px;
            padding-block-start: 30px;
  }
  .title h2 {
    font-size: 4.2rem;
    line-height: 5rem;
    max-width: 520px;
  }
  .title h3 {
    -webkit-margin-before: 50px;
            margin-block-start: 50px;
    font-size: 2.4rem;
  }
  .title h4 {
    max-width: 400px;
    -webkit-margin-before: 50px;
            margin-block-start: 50px;
    font-size: 1.6rem;
    line-height: 2.5rem;
  }

  .main-services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-services__element {
    max-width: 1300px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  .main-services__text {
    width: 100%;
    max-width: 390px;
    padding: 30px 20px;
    margin: 0 20px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .main-services__text h2 {
    font-size: 2.6rem;
  }
  .main-services__image {
    max-width: 600px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .text h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .text p {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  .news-logo h3 {
    font-size: 3.6rem;
    margin: 50px auto 100px auto;
  }

  .tawfiki {
    font-size: 1.2rem;
  }

  .popup-window__content {
    margin: 30% auto 0 auto;
  }

  .footer-pages {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-margin-start: 90px;
            margin-inline-start: 90px;
  }
  .footer-pages__section {
    width: 200px;
    -webkit-margin-after: 5px;
            margin-block-end: 5px;
    -webkit-margin-before: 20px;
            margin-block-start: 20px;
  }
  .footer-pages__section h3 {
    font-size: 1.8rem;
  }
  .footer-pages a {
    font-size: 1.5rem;
  }
  .footer-pages a:hover {
    font-size: 1.6rem;
  }

  footer .footer-logo h2 {
    font-size: 2.6rem;
  }
  footer .footer-logo img {
    width: 60px;
  }

  .team__avatar--item {
    -webkit-margin-before: 90px;
            margin-block-start: 90px;
    min-height: 580px;
  }
  .team__avatar--item h4 {
    font-size: 2rem;
  }
  .team__avatar--item p {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  .soledad-advisors {
    -webkit-padding-after: 300px;
            padding-block-end: 300px;
  }
  .soledad-advisors__element {
    max-width: 380px;
    min-height: 640px;
    -webkit-margin-before: 90px;
            margin-block-start: 90px;
  }
  .soledad-advisors__element h4 {
    font-size: 2rem;
  }
  .soledad-advisors__element p {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  .aboutus {
    width: 100%;
    margin: 0 auto 300px auto;
    -webkit-padding-before: 100px;
            padding-block-start: 100px;
  }
  .aboutus h2 {
    font-size: 4rem;
    -webkit-margin-after: 20px;
            margin-block-end: 20px;
  }
  .aboutus h3 {
    font-size: 3rem;
    -webkit-margin-after: 20px;
            margin-block-end: 20px;
  }
  .aboutus__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-height: 430px;
    -webkit-margin-after: 250px;
            margin-block-end: 250px;
  }
  .aboutus__wrapper--item {
    width: 50%;
  }

  .second {
    -webkit-margin-before: 50px;
            margin-block-start: 50px;
    height: 470px;
    position: absolute;
    right: 0;
  }
}