@media (min-width: 1500px) {
    .widget-crypto {
        .visa-mastercard {
            bottom: 10px;
            left: 12%;
        }
    }
    .content-box-coins {
        max-width: 2000px;
    }
    /////title
    //// title

.title {
    h2 {
        font-size: 8rem;
    }
    h3 {
        font-size: 4rem;
    }
    .banner {
        right: 0px;
        top: 260px;
        img {
          width: 420px;
          height: 420px
        };
      }
}
}