@media (min-width: 1500px) {
  .widget-crypto .visa-mastercard {
    bottom: 10px;
    left: 12%;
  }

  .content-box-coins {
    max-width: 2000px;
  }

  .title h2 {
    font-size: 8rem;
    line-height: 9rem;
  }
  .title h3 {
    font-size: 4rem;
  }
  .title .banner {
    right: 0px;
    top: 260px;
  }
  .title .banner img {
    width: 420px;
    height: 420px;
  }

  .text__wrapper {
    max-width: 2000px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}