.contactus {
    margin: 20px auto 250px auto;
    padding: 10px;

    h2 {
        font-size: 4rem;
        padding: 5px;
        font-family: $font2;
    }
    p {
        padding: 10px 5px;
        margin-block-end: 50px;
        font-size: 1.8rem;
        line-height: 2.6rem;
    }
    a {
        margin-block-start: 50px;
        color: $secundary;
        font-weight: 700;
        text-decoration: none;
        font-size: 1.8rem;
        font-family: $font2;
    }
}
