.news-logo {
    width: 95%;
    margin: 80px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h3 {
        font-family: $font2;
        font-size: 3rem;
        margin-block-end: 20px;
        text-align: center;
    }
    &__wrapper {
    max-width: 680px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }
    img {
        margin: 30px;
    }
  .marketwatch {
      width: fit-content;
        img {
            width: 180px;
            margin: 10px;
            
        }   
    }
    .abc {
        width: fit-content;
        img {
            width: 120px;
            margin: 10px;
        }  
    }
    .nbc {
        width: fit-content;
        img {
            width: 120px;
        }
    }
    .cbs {
        width: fit-content;
        img {
            width: 120px;
        }
    }
    .fox {
        width: fit-content;
        img {
            width: 120px;
        }
    }  
}