.powered {
    width: 100%;
    margin: 0 auto;
    padding-block-end: 60px;
    background-color: $light;
    
    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        //background-image: radial-gradient(circle, #ce871c, #d18a1b, #d38e19, #d69118, #d89516, #d99914, #db9e11, #dca20f, #dda80c, #ddad09, #deb307, #deb905);
        background-image: radial-gradient(circle, #eb991d, #e8991b, #e59a19, #e29a17, #df9a15, #de9d13, #dd9f11, #dca20f, #dda80c, #ddad09, #deb307, #deb905);
        margin-block-end: 100px;
    }
    h4 {
        padding: 10px 20px;
        font-size: 2.6rem;
        font-family: $font2;
        font-weight: lighter;
        color: $dark;
        text-align: center;
    }
}
.partners {
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    div {
        margin-block-end: 20px;
        padding-inline-start: 10px;
    }
    img {
        width: 100%;
        height: 100%;
    }
    &__dodo {
        width: 160px;
        height: 70px;
    }
    &__polymath {
        width: 160px;
        height: 90px;
    }
    &__digishares {
        width: 160px;
        height: 110px;
    }
    &__cosmos {
        width: 160px;
        height: 150px;
    }
    &__polygon {
        width: 160px;
        height: 140px;
    }
}