.powered {
    width: 100%;
    margin: 0 auto;
    padding-block-end: 60px;
    background-color: $light;
    
    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(to right bottom, #f6cc2c, #eec42c, #e5bc2c, #ddb42b, #d4ac2b);
        margin-block-end: 100px;
        img {
            width: 50px;
        }
    }
    h4 {
        padding: 0 20px;
        font-size: 2.6rem;
        font-family: $font2;
        font-weight: lighter;
        color: $dark;
        text-align: center;
    }
}
.partners {
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    div {
        margin-block-end: 20px;
        padding-inline-start: 10px;
    }
    img {
        width: 100%;
        height: 100%;
    }
    &__dodo {
        width: 160px;
        height: 70px;
    }
    &__polymath {
        width: 160px;
        height: 90px;
    }
    &__digishares {
        width: 160px;
        height: 110px;
    }
    &__cosmos {
        width: 160px;
        height: 150px;
    }
    &__polygon {
        width: 160px;
        height: 140px;
    }
}