@media (min-width: 1500px) {
    //// title
.title {
    h2 {
        font-size: 8rem;
        line-height: 9rem;
    }
    h3 {
        font-size: 4rem;
    }
}
  //////////
  .text {
    &__wrapper {
    max-width: 2000px;
    flex-direction: row;
    flex-wrap: nowrap;
        }
    } 
}