@media (min-width:1260px){
    .header {
        padding: 0 150px
    }
   .text {
    &__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
        }
    }
//// title
.title {
    h2 {
        font-size: 7rem;
    }
    h3 {
        font-size: 3rem;
    }
    h4 {
        margin-block-start: 70px;
    }
}
}