@media (min-width:1260px){
    .header {
        padding: 0 150px
    }
   .text {
    &__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
        }
    }
//// title
.title {
    background-image: url(https://res.cloudinary.com/arawato666/image/upload/v1649551147/BANNER-heavy_slk14b.png);
    padding-inline-start: 4%;
    h2 {
        font-size: 7rem;
    }
    h3 {
        font-size: 3rem;
    }
    h4 {
        margin-block-start: 70px;
    }
}
.main-services {
    &__image img {
        max-width: 700px;
      }
      h4 { 
          font-size: 4.2rem;
      }
}
}