@media (min-width: 1260px) {
  .header {
    padding: 0 150px;
  }

  .text__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .title h2 {
    font-size: 7rem;
  }
  .title h3 {
    -webkit-margin-before: 80px;
            margin-block-start: 80px;
    font-size: 3rem;
  }
  .title h4 {
    -webkit-margin-before: 240px;
            margin-block-start: 240px;
  }
  .title .banner {
    right: 0px;
    top: 260px;
  }
  .title .banner img {
    width: 380px;
    height: 380px;
  }
}