@media (min-width:1030px) {
      .header { 
        padding: 0 60px;
        .page-title {
          h1 {
          margin: 0;
          }
      }
    }

    .title {
      h2 {
          font-size: 6rem;
          line-height: 7rem;
      }
      h3 {
          font-size: 3rem;
      }
      h4 {
        font-size: 2.2rem;
      }
  }
/////////////// main services
.main-services {
  width: 100%;
  max-width: 1500px;
  display: block;
  margin: 0 auto 120px auto;
  &__element {
      max-width: 1300px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
  }
  &__text {
      max-width: 600px;
      min-height: 350px;
      margin: auto;
      h2 {
        font-size: 4rem;
    }
    p {
        font-size: 2rem;
        line-height: 3.5rem;
    }
  }
  &__image {
    margin: 0 auto;
  }
  &__image img {
    max-width: 600px;
  }
  .left {
    flex-direction: row-reverse;
  }
  .left  img {
    margin-block-start: 0px;
}
}
////////////////// news

////// news
.news-logo {
  padding-block-end: 80px;
  h3 {
  font-size: 4rem;
  margin: 50px auto;
}
}
          //////////////About Us
/////////about us
.aboutus {
  .second {
      margin-block-start: 50px;
      height: 380px;
  }

  
//////////////////POP-UP MESSAGE
.popup-window__content {
  margin: 20% auto 0 auto;
}
////// module 3 text
.text {
  &__element {
    height: fit-content;
    min-height: 610px;
    margin-inline-end: 20px;
    padding: 30px;
  }
  &__wrapper {
  max-width: 1200px;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 150px 0px;

  h2 {
    margin-block-end: 10px;
    font-size: 2.8rem;
}
p {
    font-size: 1.8rem;
    line-height: 3rem;
}
      }
  }
  ////////////////
  .footer-pages {
    max-width: 800px;
}
  
}
}