@media (min-width: 1500px) {
  .title h2 {
    font-size: 8rem;
    line-height: 9rem;
  }
  .title h3 {
    font-size: 4rem;
  }

  .text__wrapper {
    max-width: 2000px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}