@media (min-width: 768px) {
    .header { 
        padding: 0 40px;
        .page-title {
            margin-inline-start: 15px;
            h1 {
            font-size: 3.4rem;
            }
            h2 {
                font-size: 2.6rem;
            }
        }
       .main-logo img {
            margin: 0 15px;
        }
        .image-button {
            width: 50px;
        }
    }
    
    .title {
        background-image: url(https://res.cloudinary.com/arawato666/image/upload/v1649551147/BANNER-02_B__soh7lg.png);
        min-height: 600px;
        padding-block-start: 50px;
        padding-inline-start: 2%;
        h2 {
            font-size: 5rem;
            line-height: 6.5rem;
            max-width: 700px;
        }
        h3 {
            margin-block-start: 50px;
        }
        h4 {
            margin-block-start: 200px;
            font-size: 2rem;
        }
    }
////////////////// main services
.main-services {
    max-width: 890px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    &__element {
        max-width: 280px;
        margin-inline-end: 20px;
        margin-block-start: 20px;
        
    }
    &__text {
        height: fit-content;
        min-height: 420px;
        margin-block-end: 40px;
    }
    &__image {
        max-width: 700px;
        align-items: center;
    }
    .left  img {
        margin-block-start: 120px;
    }
}
///////////// middle text squares
.text {
    h2 {
        font-size: 2.8rem;
        margin-block-end: 20px;
    }
}
////// news
.news-logo {
    h3 {
    font-size: 3.6rem;
    margin: 50px auto;
}
.marketwatch {
    width: fit-content;
      img {
          width: 200px;
          
      }   
  }
  .abc {
      width: fit-content;
      img {
          width: 200px;
      }  
  }
  .nbc {
      width: fit-content;
      img {
          width: 200px;
      }
  }
  .cbs {
      width: fit-content;
      img {
          width: 200px;
      }
  }
  .fox {
      width: fit-content;
      img {
          width: 200px;
      }
  }  
}


/////////////////////////////////
    .tawfiki {
        font-size: 1.2rem;
    }
//////////////////POP-UP MESSAGE
.popup-window__content {
    margin: 30% auto 0 auto;
}

  //////////////////////////ABOUT US
.aboutus {
    margin-block-end: 250px;
    }

    /////////////footer-new section
    .footer-pages {
        flex-wrap: nowrap;
    }
}