@media (min-width: 768px) {
  .header {
    padding: 0 40px;
  }
  .header .page-title {
    -webkit-margin-start: 15px;
            margin-inline-start: 15px;
  }
  .header .page-title h1 {
    font-size: 3.4rem;
  }
  .header .page-title h2 {
    font-size: 2.6rem;
  }
  .header .main-logo img {
    margin: 0 15px;
  }
  .header .image-button {
    width: 50px;
  }

  .title {
    background-image: url(https://res.cloudinary.com/arawato666/image/upload/v1649630051/BANNER-02_xasym7.png);
    min-height: 600px;
    -webkit-padding-before: 50px;
            padding-block-start: 50px;
    -webkit-padding-start: 2%;
            padding-inline-start: 2%;
  }
  .title h2 {
    font-size: 5rem;
    line-height: 6.5rem;
    max-width: 700px;
  }
  .title h3 {
    -webkit-margin-before: 50px;
            margin-block-start: 50px;
  }
  .title h4 {
    -webkit-margin-before: 200px;
            margin-block-start: 200px;
    font-size: 2rem;
  }

  .main-services {
    max-width: 890px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-services__element {
    max-width: 280px;
    -webkit-margin-end: 20px;
            margin-inline-end: 20px;
    -webkit-margin-before: 20px;
            margin-block-start: 20px;
  }
  .main-services__text {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 420px;
    -webkit-margin-after: 40px;
            margin-block-end: 40px;
  }
  .main-services__image {
    max-width: 700px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-services .left img {
    -webkit-margin-before: 120px;
            margin-block-start: 120px;
  }

  .text h2 {
    font-size: 2.8rem;
    -webkit-margin-after: 20px;
            margin-block-end: 20px;
  }

  .news-logo h3 {
    font-size: 3.6rem;
    margin: 50px auto;
  }
  .news-logo .marketwatch {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .news-logo .marketwatch img {
    width: 200px;
  }
  .news-logo .abc {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .news-logo .abc img {
    width: 200px;
  }
  .news-logo .nbc {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .news-logo .nbc img {
    width: 200px;
  }
  .news-logo .cbs {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .news-logo .cbs img {
    width: 200px;
  }
  .news-logo .fox {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .news-logo .fox img {
    width: 200px;
  }

  .tawfiki {
    font-size: 1.2rem;
  }

  .popup-window__content {
    margin: 30% auto 0 auto;
  }

  .aboutus {
    -webkit-margin-after: 250px;
            margin-block-end: 250px;
  }

  .footer-pages {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}