@media (min-width: 768px) {
  .header {
    padding: 0 40px;
  }
  .header .page-title {
    -webkit-margin-start: 15px;
            margin-inline-start: 15px;
  }
  .header .page-title h1 {
    font-size: 3.4rem;
  }
  .header .page-title h2 {
    font-size: 2.6rem;
  }
  .header .main-logo img {
    margin: 0 15px;
  }

  .title {
    min-height: 600px;
  }
  .title h2 {
    font-size: 5rem;
    line-height: 6.5rem;
  }
  .title h3 {
    -webkit-margin-before: 50px;
            margin-block-start: 50px;
  }
  .title h4 {
    -webkit-margin-before: 300px;
            margin-block-start: 300px;
    font-size: 2rem;
    text-align: center;
  }
  .title .banner {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    right: 50px;
    top: 330px;
  }
  .title .banner img {
    width: 300px;
    height: 300px;
  }

  .main-services {
    max-width: 890px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-services__element {
    max-width: 280px;
    -webkit-margin-end: 20px;
            margin-inline-end: 20px;
    -webkit-margin-before: 20px;
            margin-block-start: 20px;
  }
  .main-services__text {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 420px;
    -webkit-margin-after: 40px;
            margin-block-end: 40px;
  }

  .tawfiki {
    font-size: 1.2rem;
  }

  .popup-window__content {
    margin: 30% auto 0 auto;
  }

  .aboutus {
    -webkit-margin-after: 250px;
            margin-block-end: 250px;
  }
}