* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: #F0F2FC;
}

.main-container {
  width: 100%;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: sticky;
  top: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000000;
  -webkit-border-after: solid 1px gold;
          border-block-end: solid 1px gold;
  -webkit-box-shadow: 0 0 7px 0 black;
          box-shadow: 0 0 7px 0 black;
  z-index: 2;
}
.header .main-logo {
  padding: 5px;
}
.header .main-logo img {
  width: 80px;
  height: 80px;
  margin: 0 5px;
  border: solid 0.1rem gold;
}
.header .page-title h1 {
  margin: 0;
  font-family: "Play", sans-serif;
  font-size: 2.2rem;
  color: #fff;
}
.header .page-title h2 {
  font-family: "Play", sans-serif;
  font-size: 2rem;
  color: #fff;
}
.header a:hover {
  font-size: 2rem;
  background-color: rgba(246, 204, 44, 0.3);
}

.menu {
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  display: inline-block;
}
.menu__button {
  padding: 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.menu:hover {
  background-color: rgba(246, 204, 44, 0.6);
}
.menu .menu img {
  width: 30px;
  height: 30px;
  margin: 0 auto;
}
.menu__nav-bar {
  width: 30%;
  max-width: 400px;
  min-width: 160px;
  position: absolute;
  display: none;
  top: 100px;
  right: 0;
  background-color: #f7d244;
  z-index: 1;
}
.menu .show {
  display: block;
}
.menu__nav-bar ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}
.menu__nav-bar li {
  text-align: center;
  -webkit-border-before: solid 1px #fff;
          border-block-start: solid 1px #fff;
}
.menu a {
  display: block;
  padding: 15px;
  font-size: 1.8rem;
  color: #000000;
  font-weight: 600;
  text-decoration: none;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000000;
  width: 100%;
  padding: 30px 0;
}
.title__message {
  width: 90%;
  padding: 15px;
  text-align: center;
}
.title h2 {
  -webkit-margin-after: 25px;
          margin-block-end: 25px;
  max-width: 800px;
  color: #F6CC2C;
  font-size: 2.6rem;
  font-family: "Oswald", sans-serif;
  line-height: 3rem;
}
.title h3 {
  font-size: 1.6rem;
  font-family: "Oswald", sans-serif;
  color: #fff;
  text-transform: uppercase;
  line-height: 2.5rem;
}
.title h4 {
  max-width: 900px;
  margin: 70px auto 30px auto;
  font-size: 1.6rem;
  color: #6c757d;
  text-align: justify;
}
.title .banner {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.title .banner img {
  width: 150px;
  height: 150px;
}

.main-services {
  width: 90%;
  margin: 100px auto;
}
.main-services__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 35px 0;
  max-width: 700px;
}
.main-services__text {
  width: 100%;
  padding: 20px;
  background-color: #fff;
}
.main-services__text h2 {
  margin: 20px 0;
  font-family: "Oswald", sans-serif;
  font-size: 2.8rem;
}
.main-services__text p {
  line-height: 3rem;
  color: #343434;
  font-size: 1.6rem;
}
.main-services__image {
  width: 90%;
  max-width: 200px;
  -webkit-margin-before: 20px;
          margin-block-start: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-services img {
  width: 100%;
  height: auto;
}
.main-services .left p {
  -webkit-margin-start: auto;
          margin-inline-start: auto;
}
.main-services .left h2 {
  -webkit-margin-end: auto;
          margin-inline-end: auto;
}
.main-services .right p {
  -webkit-margin-start: auto;
          margin-inline-start: auto;
}
.main-services .right h2 {
  -webkit-margin-start: 0;
          margin-inline-start: 0;
}

.myBtn {
  display: none;
  padding: 5px;
  position: fixed;
  bottom: 20px;
  right: 2px;
  border: none;
  background-color: #0079E0;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}
.myBtn img {
  width: 20px;
}

.myBtn:hover {
  background-color: #555;
}

footer {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #837144;
  color: #000000;
}

.contact-email {
  margin: 10px auto;
  font-size: 1.8rem;
  color: #000000;
}

.social {
  width: 300px;
}
.social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: #000000;
}
.social img {
  width: 25px;
  height: 25px;
}
.social img:hover {
  width: 30px;
  height: 30px;
}

.tawfiki {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  letter-spacing: 2px;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  text-align: center;
}
.tawfiki h2 {
  margin: 10px 0;
}

.msb {
  width: 90%;
  margin: 5px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  letter-spacing: 2px;
  font-family: "Oswald", sans-serif;
  font-size: 0.9rem;
  text-align: center;
}
.msb h2 {
  margin: 5px 0;
}

.aboutus {
  width: 90%;
  margin: 20px auto 200px auto;
  padding: 10px;
}
.aboutus h2 {
  font-size: 4rem;
  padding: 5px;
  font-family: "Oswald", sans-serif;
}
.aboutus p {
  -webkit-margin-after: 30px;
          margin-block-end: 30px;
  max-width: 1200px;
  padding: 10px 5px;
  font-size: 1.8rem;
  line-height: 2.6rem;
}

.popup-window {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.popup-window__content {
  width: 80%;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 55% auto;
  padding: 20px;
  border: 1px solid #6c757d;
  background-color: #fefefe;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}
.popup-window .close {
  width: 30px;
  height: 30px;
  font-size: 2.8rem;
  font-weight: bold;
  border-radius: 50%;
  background-color: #662D91;
  color: #fff;
  -webkit-box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}
.popup-window .close:hover, .popup-window .close:focus {
  cursor: pointer;
}

.fadeIn {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.powered {
  width: 100%;
  margin: 30px auto 0 auto;
  padding: 60px 0;
  background-color: #fff;
}
.powered h4 {
  -webkit-margin-start: 30px;
          margin-inline-start: 30px;
  font-size: 2.4rem;
  font-family: "Oswald", sans-serif;
  font-weight: lighter;
  color: #495057;
  text-align: center;
}

.partners {
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.partners div {
  -webkit-margin-after: 20px;
          margin-block-end: 20px;
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
}
.partners img {
  width: 100%;
  height: 100%;
}
.partners__dodo {
  width: 160px;
  height: 70px;
}
.partners__polymath {
  width: 160px;
  height: 90px;
}
.partners__digishares {
  width: 160px;
  height: 110px;
}
.partners__cosmos {
  width: 160px;
  height: 150px;
}
.partners__polygon {
  width: 160px;
  height: 140px;
}

.text {
  background-color: #242426;
  -webkit-padding-after: 10px;
          padding-block-end: 10px;
}
.text__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 80px 20px;
}
.text__wrapper h2 {
  -webkit-margin-after: 5px;
          margin-block-end: 5px;
  color: #837144;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
}
.text__wrapper p {
  padding: 10px 0;
  color: #fff;
  font-size: 1.6rem;
  line-height: 2.5rem;
}
.text__element {
  -webkit-margin-after: 50px;
          margin-block-end: 50px;
  padding: 20px;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #333333;
  border-radius: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.exchange {
  width: 90%;
  margin: 100px auto 100px auto;
}
.exchange__container {
  margin: 50px auto;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.exchange h2 {
  font-size: 2.5rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}
.exchange img {
  -webkit-margin-after: 15px;
          margin-block-end: 15px;
  margin: 0 10px 35px 10px;
  -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.3);
}
.exchange__bitrue img {
  width: 160px;
  height: 80px;
}
.exchange__p2p img {
  width: 160px;
}
.exchange__dodo img {
  width: 160px;
  height: 85px;
}

.news-logo {
  width: 95%;
  margin: 80px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.news-logo h3 {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
}
.news-logo__wrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.news-logo img {
  margin: 50px;
}
.news-logo .marketwatch {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.news-logo .marketwatch img {
  width: 200px;
}
.news-logo .abc {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.news-logo .abc img {
  width: 200px;
}
.news-logo .nbc {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.news-logo .nbc img {
  width: 200px;
}
.news-logo .cbs {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.news-logo .cbs img {
  width: 200px;
}
.news-logo .fox {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.news-logo .fox img {
  width: 200px;
}