* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: #F3F3F4;
}

.main-container {
  width: 100%;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: sticky;
  top: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000000;
  -webkit-border-after: solid 1px #F6CC2C;
          border-block-end: solid 1px #F6CC2C;
  -webkit-box-shadow: 0 0 7px 0 black;
          box-shadow: 0 0 7px 0 black;
  z-index: 2;
}
.header .main-logo {
  padding: 5px;
}
.header .main-logo img {
  width: 50px;
  height: 50px;
  margin: 0 5px;
}
.header .page-title h1 {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 2.6rem;
  color: #DB9A13;
}

body.scrolled #header-scroll {
  opacity: 0.9;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

body.scrolled #header-scroll:hover {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.menu {
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  display: inline-block;
}
.menu__button {
  padding: 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.menu:hover img {
  width: 55px;
  height: 55px;
}
.menu .menu img {
  width: 30px;
  height: 30px;
  margin: 0 auto;
}
.menu .image-button {
  width: 30px;
}
.menu__nav-bar {
  width: 30%;
  max-width: 300px;
  min-width: 160px;
  position: absolute;
  display: none;
  top: 100px;
  right: 0;
  background-color: #000000;
  z-index: 1;
}
.menu .show {
  display: block;
}
.menu__nav-bar ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}
.menu__nav-bar li {
  text-align: center;
  -webkit-border-before: solid 1px #D4AC2B;
          border-block-start: solid 1px #D4AC2B;
}
.menu a {
  display: block;
  padding: 15px;
  font-size: 1.8rem;
  color: #ffd60a;
  font-weight: 600;
  text-decoration: none;
}
.menu a:hover {
  font-size: 2rem;
  background-color: #D4AC2B;
  color: #000000;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), color-stop(#f7f7f7), color-stop(#f3f3f3), color-stop(#f0f0f0), to(#ededed));
  background-image: linear-gradient(to bottom, #fafafa, #f7f7f7, #f3f3f3, #f0f0f0, #ededed);
  width: 100%;
  padding: 30px 0 50px 0;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}
.title__message {
  width: 100%;
  padding: 5px 0 5px 20px;
  text-align: left;
}
.title h2 {
  -webkit-margin-after: 30px;
          margin-block-end: 30px;
  max-width: 320px;
  background: -webkit-radial-gradient(#A3670A, #DB9A13);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  line-height: 3.8rem;
}
.title h3 {
  margin: 20px 0;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: #242426;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 2.5rem;
}
.title h4 {
  -webkit-margin-after: 20px;
          margin-block-end: 20px;
  max-width: 290px;
  font-size: 1.4rem;
  color: #333333;
  text-align: justify;
}
.title .banner_new {
  width: 100%;
  height: 300px;
  background-image: url(https://res.cloudinary.com/arawato666/image/upload/v1651118091/BANNER-01_4__1_-removebg-preview_gmgij8.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
.title__buttons {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-margin-before: 15px;
          margin-block-start: 15px;
}
.title__buttons a {
  padding: 5px 10px;
  text-decoration: none;
  background-color: #000000;
  color: #D4AC2B;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
.title__buttons a:hover {
  font-size: 1.1rem;
}

.main-services {
  width: 100%;
  margin: 0 auto;
  background-color: #2A2C31;
  padding: 80px 0;
}
.main-services__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
}
.main-services__text {
  width: 90%;
  max-width: 400px;
  padding: 20px;
}
.main-services__text h2 {
  margin: 0px 0 20px 0;
  font-family: "Roboto", sans-serif;
  font-size: 2.6rem;
  font-weight: 900;
  color: #fff;
}
.main-services__text p {
  line-height: 2.8rem;
  color: #D4AC2B;
  font-size: 1.5rem;
  font-weight: bold;
}
.main-services__image {
  width: 100%;
  max-width: 500px;
  -webkit-margin-before: 20px;
          margin-block-start: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-services__image img {
  margin: auto;
  max-width: 300px;
  -webkit-filter: drop-shadow(2px 2px 10px #000000);
          filter: drop-shadow(2px 2px 10px #000000);
}
.main-services .right p {
  -webkit-margin-start: auto;
          margin-inline-start: auto;
}
.main-services .right h2 {
  -webkit-margin-start: 0;
          margin-inline-start: 0;
}

.myBtn {
  display: none;
  padding: 5px;
  position: fixed;
  bottom: 20px;
  right: 2px;
  border: none;
  background-color: #0079E0;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.myBtn img {
  width: 20px;
}

.myBtn:hover {
  background-color: #555;
}

footer {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 40px 5px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#242426), color-stop(#1d1d1e), color-stop(#161616), color-stop(#0d0d0d), to(#000000));
  background-image: linear-gradient(to right bottom, #242426, #1d1d1e, #161616, #0d0d0d, #000000);
  color: #F6CC2C;
}
footer .footer-logo {
  width: 100%;
  padding: 10px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .footer-logo img {
  width: 50px;
  height: auto;
  -webkit-margin-start: 10px;
          margin-inline-start: 10px;
}
footer .footer-logo h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 900;
}

.contact-email {
  margin: 10px auto;
  font-size: 1.8rem;
  color: #000000;
}

.social {
  width: 300px;
  margin: 10px auto;
}
.social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: #000000;
}
.social img {
  width: 25px;
  height: 25px;
}
.social img:hover {
  width: 30px;
  height: 30px;
}

.tawfiki {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  letter-spacing: 2px;
  font-size: 1rem;
  text-align: center;
}
.tawfiki h2 {
  margin: 10px 0;
  max-width: 220px;
  font-size: 1.2rem;
}

.msb {
  width: 100%;
  margin: 5px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10px;
  letter-spacing: 2px;
  font-size: 0.8rem;
}
.msb h2 {
  margin: 5px 0;
}

.footer-pages {
  width: 100%;
  max-width: 600px;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer-pages__section {
  width: 300px;
  padding: 0 10px;
  -webkit-margin-after: 40px;
          margin-block-end: 40px;
}
.footer-pages__section h3 {
  font-size: 1.6rem;
  font-weight: bold;
  -webkit-margin-after: 10px;
          margin-block-end: 10px;
}
.footer-pages a {
  color: #F6CC2C;
  text-decoration: none;
  font-size: 1.3rem;
}
.footer-pages a:hover {
  font-size: 1.4rem;
  font-weight: bold;
  -webkit-margin-start: 5px;
          margin-inline-start: 5px;
}
.footer-pages li {
  list-style: none;
  padding: 5px 0;
}

.main-about {
  background-color: #fff;
}

.aboutus {
  width: 100%;
  margin: 0 auto 100px auto;
}
.aboutus h2 {
  font-size: 4rem;
  -webkit-margin-after: 20px;
          margin-block-end: 20px;
  font-weight: bold;
}
.aboutus h3 {
  font-size: 3rem;
  -webkit-margin-after: 20px;
          margin-block-end: 20px;
}
.aboutus__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.aboutus__wrapper--item {
  width: 100%;
  min-height: 330px;
  padding: 50px 20px 20px 20px;
  text-align: justify;
}
.aboutus .first {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#ad7a11), color-stop(#bf8a13), color-stop(#d19a15), color-stop(#e2aa16), to(#f4bb18));
  background-image: linear-gradient(to right top, #ad7a11, #bf8a13, #d19a15, #e2aa16, #f4bb18);
}
.aboutus .second {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#242426), color-stop(#1d1d1e), color-stop(#161616), color-stop(#0d0d0d), to(#000000));
  background-image: linear-gradient(to right bottom, #242426, #1d1d1e, #161616, #0d0d0d, #000000);
  color: #D4AC2B;
}
.aboutus p {
  font-size: 1.5rem;
  line-height: 2.4rem;
}
.aboutus a {
  color: #3D88D1;
  text-decoration: none;
}
.aboutus a:hover {
  text-decoration: underline;
}

.powered {
  width: 100%;
  margin: 0 auto;
  -webkit-padding-after: 60px;
          padding-block-end: 60px;
  background-color: #fff;
}
.powered__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: radial-gradient(circle, #eb991d, #e8991b, #e59a19, #e29a17, #df9a15, #de9d13, #dd9f11, #dca20f, #dda80c, #ddad09, #deb307, #deb905);
  -webkit-margin-after: 100px;
          margin-block-end: 100px;
}
.powered h4 {
  padding: 10px 20px;
  font-size: 2.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: #000000;
  text-align: center;
}

.partners {
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.partners div {
  -webkit-margin-after: 20px;
          margin-block-end: 20px;
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
}
.partners img {
  width: 100%;
  height: 100%;
}
.partners__dodo {
  width: 160px;
  height: 70px;
}
.partners__polymath {
  width: 160px;
  height: 90px;
}
.partners__digishares {
  width: 160px;
  height: 110px;
}
.partners__cosmos {
  width: 160px;
  height: 150px;
}
.partners__polygon {
  width: 160px;
  height: 140px;
}

.text {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#242426), color-stop(#1d1d1e), color-stop(#161616), color-stop(#0d0d0d), to(#000000));
  background-image: linear-gradient(to right bottom, #242426, #1d1d1e, #161616, #0d0d0d, #000000);
  -webkit-padding-after: 10px;
          padding-block-end: 10px;
}
.text__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 80px 20px;
}
.text__wrapper h2 {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
}
.text__wrapper p {
  padding: 10px 0;
  color: #333333;
  font-size: 1.6rem;
  line-height: 2.5rem;
}
.text__element {
  -webkit-margin-after: 50px;
          margin-block-end: 50px;
  padding: 20px 20px 5px 20px;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#eb991d), color-stop(#e8991b), color-stop(#e59a19), color-stop(#e29a17), color-stop(#df9a15), color-stop(#de9d13), color-stop(#dd9f11), color-stop(#dca20f), color-stop(#dda80c), color-stop(#ddad09), color-stop(#deb307), to(#deb905));
  background-image: linear-gradient(to left top, #eb991d, #e8991b, #e59a19, #e29a17, #df9a15, #de9d13, #dd9f11, #dca20f, #dda80c, #ddad09, #deb307, #deb905);
  border-radius: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 3px 3px 15px rgba(212, 172, 43, 0.2);
          box-shadow: 3px 3px 15px rgba(212, 172, 43, 0.2);
}

.news-logo {
  width: 95%;
  margin: 80px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.news-logo h3 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  -webkit-margin-after: 20px;
          margin-block-end: 20px;
  text-align: center;
}
.news-logo__wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.news-logo img {
  margin: 20px;
}
.news-logo .marketwatch {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.news-logo .marketwatch img {
  width: 180px;
  margin: 10px 15px;
}
.news-logo .abc {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.news-logo .abc img {
  width: 120px;
  margin: 20px 10px 20px 5px;
}
.news-logo .nbc img {
  width: 120px;
  margin: 20px 10px;
}
.news-logo .cbs {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.news-logo .cbs img {
  width: 120px;
}
.news-logo .fox {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.news-logo .fox img {
  width: 120px;
}
.news-logo .herald img {
  width: 230px;
  margin: 20px 0;
}
.news-logo .financial img {
  width: 200px;
}
.news-logo .newswire img {
  width: 200px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}
.news-logo .pittsburgh img {
  width: 180px;
  margin: 0;
}
.news-logo .googlenews img {
  width: 280px;
  margin: 0;
}
.news-logo .digitaljournal img {
  width: 180px;
}
.news-logo .yahoo img {
  width: 160px;
}

.team {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
  -webkit-margin-before: 40px;
          margin-block-start: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  text-align: center;
  background-color: #fff;
  -webkit-border-before: solid 5px #F6CC2C;
          border-block-start: solid 5px #F6CC2C;
}
.team h3 {
  width: 100%;
  max-width: 980px;
  padding: 10px;
  font-size: 2.2rem;
  margin: 100px auto 0 auto;
  font-family: "Roboto", sans-serif;
  color: #F6CC2C;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#242426), color-stop(#1d1d1e), color-stop(#161616), color-stop(#0d0d0d), to(#000000));
  background-image: linear-gradient(to right bottom, #242426, #1d1d1e, #161616, #0d0d0d, #000000);
  border-radius: 5px;
}
.team__avatar--container {
  width: 100%;
  max-width: 1300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.team__avatar--item {
  width: 100%;
  max-width: 320px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 30px 20px 35px 20px;
  margin: 30px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#242426), color-stop(#1d1d1e), color-stop(#161616), color-stop(#0d0d0d), to(#000000));
  background-image: linear-gradient(to right bottom, #242426, #1d1d1e, #161616, #0d0d0d, #000000);
  -webkit-box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.4);
  text-align: center;
  border-radius: 10px;
  color: #F6CC2C;
}
.team__avatar--item img {
  max-width: 160px;
  -webkit-margin-after: 5px;
          margin-block-end: 5px;
  border-radius: 10px;
}
.team__avatar--item h4 {
  margin: 10px 0;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}
.team__avatar--item h5 {
  font-size: 1.5rem;
  line-height: 1.6rem;
  margin: 5px auto;
}
.team__avatar--item p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  -webkit-margin-before: 10px;
          margin-block-start: 10px;
  text-align: left;
}
.team__avatar--description {
  width: 280px;
}
.team .linkedin {
  position: absolute;
  right: 5px;
  bottom: 0;
}
.team .linkedin img {
  width: 30px;
}
.team .linkedin img:hover {
  width: 32px;
}

.soledad-advisors {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px 20px 170px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  text-align: center;
}
.soledad-advisors h3 {
  width: 100%;
  max-width: 1220px;
  padding: 10px;
  font-size: 2.2rem;
  margin: 20px auto;
  font-family: "Roboto", sans-serif;
  color: #F6CC2C;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#242426), color-stop(#1d1d1e), color-stop(#161616), color-stop(#0d0d0d), to(#000000));
  background-image: linear-gradient(to right bottom, #242426, #1d1d1e, #161616, #0d0d0d, #000000);
  border-radius: 5px;
}
.soledad-advisors__container {
  width: 100%;
  max-width: 1300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.soledad-advisors__element {
  width: 100%;
  max-width: 320px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
  -webkit-margin-after: 30px;
          margin-block-end: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#242426), color-stop(#1d1d1e), color-stop(#161616), color-stop(#0d0d0d), to(#000000));
  background-image: linear-gradient(to right bottom, #242426, #1d1d1e, #161616, #0d0d0d, #000000);
  -webkit-box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 10px;
  color: #F6CC2C;
}
.soledad-advisors__element h4 {
  margin: 10px 0;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}
.soledad-advisors__element h5 {
  font-size: 1.5rem;
  line-height: 1.6rem;
  margin: 5px auto;
}
.soledad-advisors__element p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  -webkit-margin-before: 10px;
          margin-block-start: 10px;
  text-align: justify;
}
.soledad-advisors .linkedin {
  position: absolute;
  right: 5px;
  bottom: 0;
}
.soledad-advisors .linkedin img {
  width: 30px;
}
.soledad-advisors .linkedin img:hover {
  width: 32px;
}

.promotion {
  padding: 50px 0;
}

.roadmap-container {
  background: #151317;
}
.roadmap-container h3 {
  text-align: center;
  padding: 50px 0 20px 0;
  font-size: 2.5rem;
  color: #D4AC2B;
  font-weight: 900;
}

.roadmap {
  background: #151317;
  color: #fff;
  padding: 30px 50px 80px 50px;
  max-width: 1000px;
  margin: 0 auto;
}
.roadmap .point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 7px 50px;
  position: relative;
}
.roadmap .point:first-child .point-index {
  top: auto;
  bottom: 0;
  -webkit-transform: translate(-50%, 2px) !important;
          transform: translate(-50%, 2px) !important;
}
.roadmap .point:last-child .point-index {
  top: 0;
  -webkit-transform: translate(50%, -2px) !important;
          transform: translate(50%, -2px) !important;
}
.roadmap .point:not(:last-child) {
  border-bottom: 2px solid #D4AC2B;
}
.roadmap .point:nth-child(odd) {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.roadmap .point:nth-child(odd):not(:first-child) {
  border-left: 2px solid #D4AC2B;
}
.roadmap .point:nth-child(odd) .point-index {
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.roadmap .point:nth-child(even) {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.roadmap .point:nth-child(even):not(:last-child) {
  border-right: 2px solid #D4AC2B;
}
.roadmap .point:nth-child(even) .point-index {
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
.roadmap .point .point-index {
  position: absolute;
  top: 50%;
  width: 35px;
  height: 35px;
  background: #151317;
  border: 2px solid #D4AC2B;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.8rem;
  font-weight: bold;
}
.roadmap .point .point-label {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  width: 100%;
  font-size: 1.6rem;
  margin-bottom: 5px;
}
@media (min-width: 641px) {
  .roadmap .point .point-label {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    width: 50%;
  }
}
.roadmap .point .point-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  width: 100%;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #cccccc;
}
@media (min-width: 641px) {
  .roadmap .point .point-text {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    width: 50%;
  }
}